<div class="modal-container">
    <div class="modal">
        <div class="modal-header">
            New financial period
        </div>
        <div class="modal-content">
            <mat-form-field>
                <input matInput [matDatepicker]="startDate" placeholder="Start date"
                    [formControl]="startDateFC" [max]="maximalStartDate$ | async" readonly>
                    <mat-datepicker-toggle *ngIf="canBeStartDateSelected" matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="endDate" placeholder="End date"
                    [formControl]="endDateFC" [min]="minimalEndDate$ | async" readonly>
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="modal-actions">
            <button mat-button color="primary" (click)="closeModal()">Close</button>
            <button mat-flat-button color="primary" (click)="createFinancialPeriod()" [disabled]="isCreateButtonDisabled$ | async">Create</button>
        </div>
    </div>   
</div>
