<div class="view-container">
    <mat-tab-group>
        <mat-tab label="Financial unit">

        </mat-tab>
        <mat-tab label="Financial periods">
            <app-financial-periods-tab></app-financial-periods-tab>
        </mat-tab>
        <mat-tab label="Financial accounts">
            <app-financial-accounts-tab></app-financial-accounts-tab>
        </mat-tab>
        <mat-tab label="Inventory items groups">
            <app-inventory-items-groups-tab></app-inventory-items-groups-tab>
        </mat-tab>
        <mat-tab label="Inventory items">
            <app-inventory-items-tab></app-inventory-items-tab>
        </mat-tab>
        <mat-tab label="Inventory transactions">

        </mat-tab>
    </mat-tab-group>
</div>